  <h1><%=@survey.title%></h1>
  <h2 class="italics"><%= @survey.description %></h2>
  <%= erb :"question/_create", layout: false, locals: {survey: @survey} %>
  <div id='questions'>
    <% @survey.questions.each_with_index do |question, index| %>
      <div id='<%=question.id%>' class='question'>
        <span><%= index + 1 %></span>
        <%= erb :"#{question.partial}", layout: false, locals: {question: question} %>
      </div>
    <% end %>
  </div>
