<h1><%= @survey.title%></h1>
<h2><%= @survey.description %></h2>
<hr class='divider'/>
<ol class="survey_responses">
<% @survey.questions.each do |question| %>
  <li><p><%= question.text %></p>
  <table>
   <th>Response</th>
   <th>Response Count</th>
  <% question.responses.each do |response| %>
  <tr>
    <td><%= response.text %></td>
    <td><%= response.votes.count %></td>
  </tr>
  <% end %></li>
</table>
<% end %>
</ol>
