<h1><%= @survey.title%></h1>
<h2 class="italics"><%= @survey.description %></h2>
<hr class='divider'/>
<ol class="survey_responses">
<% @survey.questions.each do |question| %>
  <li><p class="question"><%= question.text %></p>
  <% if question.responses != [] %>
  <table>
   <th>Response</th>
   <th>Response Count</th>
   <th>Response Percent</th>
  <% question.responses.each do |response| %>
  <tr>
    <td id='label'><%= response.text %></td>
    <td id='count'><%= response.votes.count %></td>
    <td><%= response.percent %>%</td>
  </tr>
  <% end %>
  </table>
  <% unless question.type == 'TextArea' %>
  <form id='<%=question.id%>' class='chart' action='/question/<%=question.id%>/chart' method='get'><input type='submit' value='Show Chart'></form>
  <% end %>
<% else %>
<p class="no-response">This question currently has no responses.</p>
<% end %>
</li>
<% end %>
</ol>
