<h1><%= @survey.title%></h1>
<h2 class="italics"><%= @survey.description %></h2>
<hr class='divider'/>
<ol class="survey_responses">
<% @survey.questions.each do |question| %>
  <li><p class="question"><%= question.text %></p>
  <% if question.responses != [] %>
  <table>
   <th>Response</th>
   <th>Response Count</th>
  <% question.responses.each do |response| %>
  <tr>
    <td><%= response.text %></td>
    <td><%= response.votes.count %></td>
  </tr>
  <% end %>
  </table>
</li>
<% else %>
<p class="no-response">This question currently has no responses.</p>
<% end %>
<% end %>
</ol>
