<div class='container'>
<h3><%=@survey.title%></h3>
<p><%=@survey.description%></h3>
<div class='questions'>
  <form action ='/survey/respond/<%=@survey.id%>' method='post'>
  <% @survey.questions.each_with_index do |question, index| %>
    <div class='question'>
      <span><%= index + 1%>.</span>
      <%= erb :"#{question.partial}", layout: false, locals: {question: question} %>
    </div>
  <% end %>
    <% if !logged_in? %>
      <input type='text' name='email' placeholder='E-Mail Address'>
    <% else %>
      <input type='hidden' name='email' value='<%=current_user.email%>'>
    <% end %>
    <input type='submit' value='Submit Survey'>
  </form>
</div>
</div>