<h1><%=@survey.title%></h1>
<h2 class="italics"><%= @survey.description %></h2>

<ol id='questions'>
  <form action ='/survey/respond/<%=@survey.id%>' method='post'>
  <% @survey.questions.each_with_index do |question, index| %>
      <%= erb :"#{question.partial}", layout: false, locals: {question: question} %>
  <% end %>
  <div class='submit-survey'>
    <% if !logged_in? %>
      <label for="email">Email Address:
        <input type='text' name='email' placeholder='E-Mail Address'>
     </label>
    <% else %>
      <input type='hidden' name='email' value='<%=current_user.email%>'>
    <% end %>
    <input type='submit' value='Submit Your Responses'>
  </div>
  </form>
</ol>
