<div class="welcome">
  <% if @alert %>
  <h2 class='thanks'><%= @alert %></h2>
  <% end %>
  <h1>Welcome to SurveyGorilla!</h1>
  <h3 class="tagline italics">Survey creation so simple even a monkey could do it.</h3>
</div>

<div class="call-to-action">
  <form id='sign-up' action='/register' method='get'>
    <input type='submit' value="Sign Up to create surveys, and see survey results!">
  </form>
<h2 class="center">Already a member? <a href="/login" alt="Log in to your account">Login to your account</a></h2>
</div>

<% if @new_surveys %>
<div class='survey-category'>
  <h1>Check out these new surveys.</h1>
  <% @new_surveys.each do |survey| %>
    <h2><a href='/survey/respond/<%=survey.id%>'><%= survey.title %></a>, created <%=survey.created_at.strftime('%B %d')%></h2>
  <% end %>
</div>
<% end %>

<% if @popular_surveys %>
<div class='survey-category'>
  <h1>These surveys are super popular.</h1>
  <% @popular_surveys.each do |survey| %>
    <h2><a href='/survey/respond/<%=survey.id%>'><%= survey.title %></a>, <%=survey.participant_count%> responses</h2>
  <% end %>
</div>
<% end %>
